<odoo>
    <data>
        <menuitem
                id="menu_field"
                name="HRM"
                sequence="-2"/>

        <menuitem
                id="config_office"
                name="Cấu hình"
                parent="menu_field"
                sequence="2"/>
        <menuitem
                id="create_department"
                name="Cấu hình công ty"
                parent="config_office"
                action="departments_action"
                sequence="10"/>
        <menuitem
                id="employee"
                name="Nhân sự"
                parent="menu_field"
                sequence="3"/>
        <menuitem
                id="create_profile"
                name="Hồ sơ nhân sự"
                parent="employee"
                action="employees_action"
                sequence="10"/>

    </data>
</odoo>