<odoo>
    <data>
        <menuitem
                id="menu_field"
                name="HRM"
                sequence="-2"/>

        <menuitem
                id="config_office"
                name="Cấu hình"
                parent="menu_field"
                sequence="1"/>
        <menuitem
                id="create_department"
                name="Cấu hình doanh nghiệp"
                parent="config_office"
                action="departments_action"
                sequence="10"/>
        <menuitem
                id="create_teams"
                name="Cấu hình đội ngũ"
                parent="config_office"
                action="teams_action"
                sequence="15"/>
        <menuitem
                id="create_job"
                name="Cấu hình vị trí công việc"
                parent="config_office"
                action="job_action"
                sequence="20"/>
        <menuitem id="document"
                  name="Tài liệu"
                  parent="config_office"
                  sequence="110"
                  action="document_action"/>
        <menuitem id="document_list"
                  name="Danh sách tài liệu"
                  parent="config_office"
                  sequence="120"
                  action="document_list_action"/>
        <menuitem
                id="employee"
                name="Nhân sự"
                parent="menu_field"
                sequence="2"/>
        <menuitem
                id="create_profile"
                name="Hồ sơ nhân sự"
                parent="employee"
                action="employees_action"
                sequence="10"/>
        <menuitem
                id="approval"
                name="Phê duyệt hồ sơ"
                parent="employee"
                sequence="11"
                action="approval_action"/>
        <menuitem
                id="document_declaration"
                name="Khai báo tài liệu"
                parent="employee"
                sequence="12"
                action="document_declaration_action"/>
        <menuitem
                id="flow_config"
                name="Cấu hình luồng phê duyệt"
                parent="menu_field"
                sequence="3"/>
        <menuitem
                id="approval_flow_config"
                name="Luồng phê duyệt hồ sơ"
                parent="flow_config"
                action="approval_flow_object_action"
                sequence="10"/>

    </data>
</odoo>